<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>高德地图</title>
</head>
<body>
    <script>
        if(navigator.geolocation){
            alert("允许使用")
            function success(target){
                console.log(target)
                alert(target.coords.latitude)
                alert(target.coords.longitude)
            alert("Your position: " + latitude + ", " + longitude);
            }
            function error(e){
                console.log(e)
            }
            const options={
                enableHeightAccuracy:true,
                timeout:3000,
                maximumAge:0
            }

            navigator.geolocation.getCurrentPosition(success,error,options);
            
        }else{
            alert("不允许定位")
        }

        // document.createElement("a")
    </script>
</body>
</html>